Package: lcg-infosites
Version: 3.1.0
Section: net
Priority: optional
Architecture: all
Depends: libnet-ldap-perl
Maintainer: Maarten Litmaath <Maarten.Litmaath@cern.ch>
Source: lcg-infosites
Description: Command line tool to query the WLCG Information System.

